{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Final Survey
{% endblock %}

{% block content %}

    <p>
        Please indicate to what extent you agree with the following statements, where 1 indicates strongly disagree and 7 indicates strongly agree.
    </p>
    
    {% formfield player.positive %}
    {% formfield player.emotions %}
    {% formfield player.negative %}
    {% formfield player.express %}
    {% formfield player.stress %}
    {% formfield player.control %}
    {% formfield player.positive_situation %}
    {% formfield player.control_situation %}
    {% formfield player.negative_situation %}
    {% formfield player.negative_express %}

    {% next_button %}

{% endblock %}