{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Final Survey
{% endblock %}

{% block content %}

    <p>
        Please answer sthis questions. 1 if you disagree and 7 if you agree completely.
    </p>
    
    {% formfield player.positive %}
    {% formfield player.emotions %}
    {% formfield player.negative %}
    {% formfield player.express %}
    {% formfield player.stress %}
    {% formfield player.control %}
    {% formfield player.positive_situation %}
    {% formfield player.control_situation %}
    {% formfield player.negative_situation %}
    {% formfield player.negative_express %}
    {% formfield player.negative_situation %}

    {% next_button %}

{% endblock %}